{{ define "title" }}{{ .Type }} Genres{{ end }}

{{ define "content" }}
  <a href="/" style="text-decoration:none;">← Back</a>

  <h1>{{ .Type }} Genres</h1>
  <ul>
    {{ range .Genres }}
      <li><a href="/{{ $.TypeURL }}/{{ . }}">{{ . }}</a></li>
    {{ end }}
  </ul>
{{ end }}
