{{ define "title" }}Medix - Personal Media Tracker{{ end }}

{{ define "styles" }}
  <link rel="stylesheet" href="css/progress.css">
  <link rel="stylesheet" href="css/table.css">
  <link rel="stylesheet" href="css/responsive.css">
  <link rel="stylesheet" href="css/cards.css">
{{ end }}

{{ define "content" }}
  <h1>📊 Thumbnailing Progress</h1>
  <div id="progress-bar-container"></div>
  <!-- Table layout for desktop -->
  <div id="progress-table" class="desktop-only"></div>

  <!-- Card layout for mobile -->
  <div id="progress-cards" class="mobile-only"></div>

  <!-- Legend for both -->
  <div id="progress-legend"></div>
  <script src="js/script.js"></script>
{{ end }}