{{ define "title" }}{{ .Genre }} Titles{{ end }}

{{ define "content" }}
  <a href="/{{ .TypeURL }}" style="text-decoration:none;">← Back</a>

  <h1>{{ .Genre }} - {{ .Type }}</h1>
  <ul>
    {{ range .Titles }}
      <li>
        {{ .name }}
        {{ if eq .status "warn" }}
          <span title="Missing Thumbnail" style="cursor: help; margin-left: 5px;">⚠️</span>
        {{ else if eq .status "missing" }}
          <span title="Missing Icon" style="cursor: help; margin-left: 5px;">❌</span>
        {{ end }}
      </li>
    {{ end }}
  </ul>
{{ end }}
