<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ block "title" . }}Media Tracker{{ end }}</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header class="topbar">
    <nav>
      <a href="{{ .BaseURL }}">🏠 Home</a>
      <a href="{{ .BaseURL }}/movies">🎬 Movies</a>
      <a href="{{ .BaseURL }}/tvshows">📺 TV Shows</a>
    </nav>
  </header>

  <div class="container">
    <main>
        {{ template "content" . }}
    </main>
  </div>
</body>
</html>